modules = ["nodejs-20", "python-3.12", "web", "bash"]

run = "bash start.sh && python3 init_db.py && python3 init_test_data.py && python3 app.py"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bash start.sh && python3 init_db.py && python3 init_test_data.py && python3 app.py"]

[[ports]]
localPort = 8080
externalPort = 80
